<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</h:head>
<h:body>

	<!-- MENU SUPERIOR -->
	<div style="width: 100%; height: 2em; margin-bottom: 1%;">
		<p:linkButton href="alunos.xhtml" value="Alunos" />
		<p:linkButton href="cursos.xhtml" value="Cursos" />
		<p:linkButton href="instrutores.xhtml" value="Instrutores" />
		<p:linkButton href="matriculas.xhtml" value="Matriculas" />
		<p:linkButton href="turmas.xhtml" value="Turmas" />
	</div>

	<!-- BOTÃO FIXO -->
	<div
		style="display: flex; align-items: center; justify-content: center;">
		<h:panelGrid columns="1" cellpadding="5">
			<p:commandButton value="Cadastrar Aluno" type="button"
				onclick="PF('dialog-cadastrar').show();" update="criar-form" />
		</h:panelGrid>
	</div>

	<!-- TABELA -->
	<div>
		<p:dataTable id="tabela-alunos" value="#{AlunoMB.alunos}" var="aluno" paginator="true"
			rows="5">
			<p:column headerText="Código do Aluno">
				<h:outputText value="#{aluno.id}" />
			</p:column>
			<p:column headerText="Nome do Aluno">
				<h:outputText value="#{aluno.nome}" />
			</p:column>
			<p:column headerText="CPF do Aluno">
				<h:outputText value="#{aluno.cpf}" />
			</p:column>
			<p:column headerText="Email do Aluno">
				<h:outputText value="#{aluno.email}" />
			</p:column>
			<p:column headerText="Telefone do Aluno">
				<h:outputText value="#{aluno.telefone}" />
			</p:column>
			<p:column headerText="Data de Nascimento">
				<h:outputText value="#{aluno.nascimento}" />
			</p:column>
			<p:column headerText="Ações">
				<h:form>
					<h:panelGrid columns="1">
						<p:commandButton id="editar" value="Editar"
							action="#{EdicaoAlunoBean.carregarAluno(aluno.id)}"
							update="editar-form" />
						<p:commandButton id="deletar" value="Excluir"
							action="#{ExclusaoAlunoBean.iniciarExclusao(aluno.id, aluno.nome)}"
							update="excluir-form" />
					</h:panelGrid>
				</h:form>
			</p:column>
		</p:dataTable>
	</div>

	<!-- DIALOGO CADASTRAR -->
	<p:dialog header="Cadastrar Aluno" widgetVar="dialog-cadastrar"
		modal="true">
		<h:form id="criar-form" >
			<h:panelGrid columns="1">
				<h:outputLabel for="cpf" value="CPF:" />
				<p:inputText id="cpf" value="#{CadastroAlunoBean.cpf}"
					required="true" label="cpf" />

				<h:outputLabel for="nome" value="Nome:" />
				<p:inputText id="nome" value="#{CadastroAlunoBean.nome}"
					required="true" label="nome" />

				<h:outputLabel for="email" value="Email:" />
				<p:inputText id="email" value="#{CadastroAlunoBean.email}"
					required="true" label="email" />

				<h:outputLabel for="telefone" value="Telefone:" />
				<p:inputText id="telefone" value="#{CadastroAlunoBean.telefone}"
					required="true" label="telefone" />

				<h:outputLabel for="nascimento" value="Data de Nascimento:" />
				<p:datePicker id="nascimento"
					value="#{CadastroAlunoBean.nascimento}" required="true"
					label="Data de Nascimento" />

				<f:facet name="footer">
					<p:commandButton id="submit" value="Cadastrar"
						action="#{CadastroAlunoBean.cadastrar}"
						oncomplete="PF('dialog-cadastrar').hide();" render="@all"
						update="tabela-alunos" />
				</f:facet>
			</h:panelGrid>
		</h:form>
	</p:dialog>

	<!-- DIALOGO EDITAR -->
	<p:dialog header="Editar Aluno" widgetVar="dialog-editar" modal="true">
		<h:form id="editar-form">
			<h:panelGrid columns="1">
				<h:outputLabel for="cpf" value="CPF:" />
				<p:inputText id="cpf" value="#{EdicaoAlunoBean.cpf}"
					required="true" label="cpf" />

				<h:outputLabel for="nome" value="Nome:" />
				<p:inputText id="nome" value="#{EdicaoAlunoBean.nome}"
					required="true" label="nome" />

				<h:outputLabel for="email" value="Email:" />
				<p:inputText id="email" value="#{EdicaoAlunoBean.email}"
					required="true" label="email" />

				<h:outputLabel for="telefone" value="Telefone:" />
				<p:inputText id="telefone" value="#{EdicaoAlunoBean.telefone}"
					required="true" label="telefone" />

				<h:outputLabel for="nascimento" value="Data de Nascimento:" />
				<p:datePicker id="nascimento"
					value="#{EdicaoAlunoBean.nascimento}" required="true"
					label="Data de Nascimento" />

				<f:facet name="footer">
					<p:commandButton id="submit" value="Confirmar"
						action="#{EdicaoAlunoBean.confirmar}"
						oncomplete="PF('dialog-editar').hide();" render="@all"
						update="tabela-alunos" />
				</f:facet>
			</h:panelGrid>
		</h:form>
	</p:dialog>

	<!-- DIALOGO DELETAR -->
	<p:dialog header="Deletar Aluno" widgetVar="dialog-excluir"
		modal="true">
		<h:form id="excluir-form">
			<h:panelGrid columns="1">
				<h:outputText value="Tem certeza que deseja excluir #{ExclusaoAlunoBean.nome}?" />
				<f:facet name="footer">
					<p:commandButton id="submit" value="Confirmar"
						action="#{ExclusaoAlunoBean.confirmar}"
						oncomplete="PF('dialog-excluir').hide();" render="@all"
						update="tabela-alunos" />
				</f:facet>
			</h:panelGrid>
		</h:form>
	</p:dialog>

</h:body>
</html>