<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</h:head>
<h:body>

	<div style="width: 100%; height: 2em; margin-bottom: 1%;">
		<p:linkButton href="alunos.xhtml" value="Alunos" />
		<p:linkButton href="cursos.xhtml" value="Cursos" />
		<p:linkButton href="instrutores.xhtml" value="Instrutores" />
		<p:linkButton href="matriculas.xhtml" value="Matriculas" />
		<p:linkButton href="turmas.xhtml" value="Turmas" />
	</div>
	
	<div
		style="display: flex; align-items: center; justify-content: center;">
		<h:panelGrid columns="1" cellpadding="5">
			<p:commandButton value="Cadastrar Curso" type="button"
				onclick="PF('dialog-cadastrar').show();" update="criar-form" />
		</h:panelGrid>
	</div>
	
	<div>
		<p:dataTable id="tabela-cursos" value="#{CursoMB.cursos}" var="curso" paginator="true"
			rows="5">
			<p:column headerText="Código do Curso">
				<h:outputText value="#{curso.id}" />
			</p:column>
			<p:column headerText="Nome do Curso">
				<h:outputText value="#{curso.nome}" />
			</p:column>
			<p:column headerText="Requisito para o Curso">
				<h:outputText value="#{curso.requisito}" />
			</p:column>
			<p:column headerText="Carga horária do Curso">
				<h:outputText value="#{curso.cargaHoraria}" />
			</p:column>
			<p:column headerText="Preço do Curso">
				<h:outputText value="#{curso.preco}" />
			</p:column>
			<p:column headerText="Ações">
				<h:form>
					<h:panelGrid columns="1">
						<p:commandButton id="editar" value="Editar"
							action="#{EdicaoCursoBean.carregarCurso(curso.id)}"
							update="editar-form" />
						<p:commandButton id="deletar" value="Excluir"
							action="#{ExclusaoCursoBean.iniciarExclusao(curso.id, curso.nome)}"
							update="excluir-form" />
					</h:panelGrid>
				</h:form>
			</p:column>
		</p:dataTable>
	</div>
	
	
	<p:dialog header="Cadastrar Curso" widgetVar="dialog-cadastrar"
		modal="true">
		<h:form id="criar-form" >
			<h:panelGrid columns="1">
				<h:outputLabel for="nome" value="Nome:" />
				<p:inputText id="nome" value="#{CadastroCursoBean.nome}"
					required="true" label="nome" />

				<h:outputLabel for="requisito" value="Requisito:" />
				<p:inputText id="requisito" value="#{CadastroCursoBean.requisito}"
					required="true" label="requisito" />

				<h:outputLabel for="carga-horaria" value="Carga Horária:" />
				<p:inputNumber id="carga-horaria"  value="#{CadastroCursoBean.cargaHoraria}"
					required="true" label="carga horaria" />

				<h:outputLabel for="preco" value="Preço:" />
				<p:inputNumber id="preco" value="#{CadastroCursoBean.preco}"
					required="true" label="preco" />

				<f:facet name="footer">
					<p:commandButton id="submit" value="Cadastrar"
						action="#{CadastroCursoBean.cadastrar}"
						oncomplete="PF('dialog-cadastrar').hide();" render="@all"
						update="tabela-cursos" />
				</f:facet>
			</h:panelGrid>
		</h:form>
	</p:dialog>

	<p:dialog header="Editar Curso" widgetVar="dialog-editar" modal="true">
		<h:form id="editar-form">
			<h:panelGrid columns="1">
				<h:outputLabel for="nome" value="Nome:" />
				<p:inputText id="nome" value="#{EdicaoCursoBean.nome}"
					required="true" label="nome" />

				<h:outputLabel for="requisito" value="Requisito:" />
				<p:inputText id="requisito" value="#{EdicaoCursoBean.requisito}"
					required="true" label="requisito" />

				<h:outputLabel for="carga-horaria" value="Carga Horária:" />
				<p:inputNumber id="carga-horaria"  value="#{EdicaoCursoBean.cargaHoraria}"
					required="true" label="carga horaria" />

				<h:outputLabel for="preco" value="Preço:" />
				<p:inputNumber id="preco" value="#{EdicaoCursoBean.preco}"
					required="true" label="preco" />

				<f:facet name="footer">
					<p:commandButton id="submit" value="Confirmar"
						action="#{EdicaoCursoBean.confirmar}"
						oncomplete="PF('dialog-editar').hide();" render="@all"
						update="tabela-cursos" />
				</f:facet>
			</h:panelGrid>
		</h:form>
	</p:dialog>

	<p:dialog header="Deletar Curso" widgetVar="dialog-excluir"
		modal="true">
		<h:form id="excluir-form">
			<h:panelGrid columns="1">
				<h:outputText value="Tem certeza que deseja excluir #{ExclusaoCursoBean.nome}?" />
				<f:facet name="footer">
					<p:commandButton id="submit" value="Confirmar"
						action="#{ExclusaoCursoBean.confirmar}"
						oncomplete="PF('dialog-excluir').hide();" render="@all"
						update="tabela-cursos" />
				</f:facet>
			</h:panelGrid>
		</h:form>
	</p:dialog>
	
</h:body>
</html>