<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</h:head>
<h:body>

	<div style="width: 100%; height: 2em; margin-bottom: 1%;">
		<p:linkButton href="alunos.xhtml" value="Alunos" />
		<p:linkButton href="cursos.xhtml" value="Cursos" />
		<p:linkButton href="instrutores.xhtml" value="Instrutores" />
		<p:linkButton href="matriculas.xhtml" value="Matriculas" />
		<p:linkButton href="turmas.xhtml" value="Turmas" />
	</div>
	
	<div
		style="display: flex; align-items: center; justify-content: center;">
		<h:panelGrid columns="1" cellpadding="5">
			<p:commandButton value="Cadastrar Instrutor" type="button"
				onclick="PF('dialog-cadastrar').show();" update="criar-form" />
		</h:panelGrid>
	</div>
	
	<div>
		<p:dataTable id="tabela-instrutores" value="#{InstrutorMB.instrutores}" var="instrutor" paginator="true"
			rows="5">
			<p:column headerText="Código do Instrutor">
				<h:outputText value="#{instrutor.id}" />
			</p:column>
			<p:column headerText="Nome do Instrutor">
				<h:outputText value="#{instrutor.nome}" />
			</p:column>
			<p:column headerText="E-mail do Instrutor">
				<h:outputText value="#{instrutor.email}" />
			</p:column>
			<p:column headerText="Valor da Hora">
				<h:outputText value="#{instrutor.valorHora}" />
			</p:column>
			<p:column headerText="Certificados do Instrutor">
				<h:outputText value="#{instrutor.certificados}" />
			</p:column>
			<p:column headerText="Ações">
				<h:form>
					<h:panelGrid columns="1">
						<p:commandButton id="editar" value="Editar"
							action="#{EdicaoInstrutorBean.carregarInstrutor(instrutor.id)}"
							update="editar-form" />
						<p:commandButton id="deletar" value="Excluir"
							action="#{ExclusaoInstrutorBean.iniciarExclusao(instrutor.id, instrutor.nome)}"
							update="excluir-form" />
					</h:panelGrid>
				</h:form>
			</p:column>
		</p:dataTable>
	</div>
	
	<p:dialog header="Cadastrar Instrutor" widgetVar="dialog-cadastrar"
		modal="true">
		<h:form id="criar-form" >
			<h:panelGrid columns="1">
				<h:outputLabel for="nome" value="Nome:" />
				<p:inputText id="nome" value="#{CadastroInstrutorBean.nome}"
					required="true" label="nome" />

				<h:outputLabel for="email" value="Email:" />
				<p:inputText id="email" value="#{CadastroInstrutorBean.email}"
					required="true" label="email" />

				<h:outputLabel for="valor-hora" value="Valor da Hora:" />
				<p:inputNumber id="valor-hora"  value="#{CadastroInstrutorBean.valorHora}"
					required="true" label="valor da hora" />

				<h:outputLabel for="certificados" value="Certificados:" />
				<p:inputText id="certificados" value="#{CadastroInstrutorBean.certificados}"
					required="true" label="certificados" />

				<f:facet name="footer">
					<p:commandButton id="submit" value="Cadastrar"
						action="#{CadastroInstrutorBean.cadastrar}"
						oncomplete="PF('dialog-cadastrar').hide();" render="@all"
						update="tabela-instrutores" />
				</f:facet>
			</h:panelGrid>
		</h:form>
	</p:dialog>
	
	<p:dialog header="Editar Instrutor" widgetVar="dialog-editar" modal="true">
		<h:form id="editar-form">
			<h:panelGrid columns="1">
				<h:outputLabel for="nome" value="Nome:" />
				<p:inputText id="nome" value="#{EdicaoInstrutorBean.nome}"
					required="true" label="nome" />

				<h:outputLabel for="email" value="Email:" />
				<p:inputText id="email" value="#{EdicaoInstrutorBean.email}"
					required="true" label="email" />

				<h:outputLabel for="valor-hora" value="Valor da Hora:" />
				<p:inputNumber id="valor-hora"  value="#{EdicaoInstrutorBean.valorHora}"
					required="true" label="valor da hora" />

				<h:outputLabel for="certificados" value="Certificados:" />
				<p:inputText id="certificados" value="#{EdicaoInstrutorBean.certificados}"
					required="true" label="certificados" />

				<f:facet name="footer">
					<p:commandButton id="submit" value="Confirmar"
						action="#{EdicaoInstrutorBean.confirmar}"
						oncomplete="PF('dialog-editar').hide();" render="@all"
						update="tabela-instrutores" />
				</f:facet>
			</h:panelGrid>
		</h:form>
	</p:dialog>
	
	<p:dialog header="Deletar Instrutor" widgetVar="dialog-excluir"
		modal="true">
		<h:form id="excluir-form">
			<h:panelGrid columns="1">
				<h:outputText value="Tem certeza que deseja excluir #{ExclusaoInstrutorBean.nome}?" />
				<f:facet name="footer">
					<p:commandButton id="submit" value="Confirmar"
						action="#{ExclusaoInstrutorBean.confirmar}"
						oncomplete="PF('dialog-excluir').hide();" render="@all"
						update="tabela-instrutores" />
				</f:facet>
			</h:panelGrid>
		</h:form>
	</p:dialog>
	
</h:body>
</html>