<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</h:head>
<h:body>

	<div style="width: 100%; height: 2em; margin-bottom: 1%;">
		<p:linkButton href="alunos.xhtml" value="Alunos" />
		<p:linkButton href="cursos.xhtml" value="Cursos" />
		<p:linkButton href="instrutores.xhtml" value="Instrutores" />
		<p:linkButton href="matriculas.xhtml" value="Matriculas" />
		<p:linkButton href="turmas.xhtml" value="Turmas" />
	</div>
	

	<div
		style="display: flex; align-items: center; justify-content: center;">
		<h:panelGrid columns="1" cellpadding="5">
			<p:commandButton value="Cadastrar Matrícula" type="button"
				onclick="PF('dialog-cadastrar').show();" update="criar-form" />
		</h:panelGrid>
	</div>
	
	<div>
		<p:dataTable id="tabela-matriculas" value="#{MatriculaMB.matriculas}" var="matricula" paginator="true"
			rows="5">
			<p:column headerText="Código da Matrícula">
				<h:outputText value="#{matricula.id}" />
			</p:column>
			<p:column headerText="Id da Turma">
				<h:outputText value="#{matricula.idTurma}" />
			</p:column>
			<p:column headerText="Id do Aluno">
				<h:outputText value="#{matricula.idAluno}" />
			</p:column>
			<p:column headerText="Data da Matrícula">
				<h:outputText value="#{matricula.dataMatricula}" />
			</p:column>
			<p:column headerText="Ações">
				<h:form>
					<h:panelGrid columns="1">
						<p:commandButton id="editar" value="Editar"
							action="#{EdicaoMatriculaBean.carregarMatricula(matricula.id)}"
							update="editar-form" />
						<p:commandButton id="deletar" value="Excluir"
							action="#{ExclusaoMatriculaBean.iniciarExclusao(matricula.id, matricula.idAluno)}"
							update="excluir-form" />
					</h:panelGrid>
				</h:form>
			</p:column>
		</p:dataTable>
	</div>
	
	<p:dialog header="Cadastrar Matrícula" widgetVar="dialog-cadastrar"
		modal="true">
		<h:form id="criar-form" >
			<h:panelGrid columns="1">
				<h:outputLabel for="turma" value="Id da Turma:" />
				<p:inputText id="turma" value="#{CadastroMatriculaBean.idTurma}"
					required="true" label="Turma" />

				<h:outputLabel for="aluno" value="Id do Aluno:" />
				<p:inputText id="aluno" value="#{CadastroMatriculaBean.idAluno}"
					required="true" label="requisito" />

				<h:outputLabel for="matricula" value="Data de Matrícula:" />
				<p:datePicker id="matricula"
					value="#{CadastroMatriculaBean.dataMatricula}" required="true"
					label="Data de Matricula" />

				<f:facet name="footer">
					<p:commandButton id="submit" value="Cadastrar"
						action="#{CadastroMatriculaBean.cadastrar}"
						oncomplete="PF('dialog-cadastrar').hide();" render="@all"
						update="tabela-matriculas" />
				</f:facet>
			</h:panelGrid>
		</h:form>
	</p:dialog>
	
	<p:dialog header="Editar Matrícula" widgetVar="dialog-editar" modal="true">
		<h:form id="editar-form">
			<h:panelGrid columns="1">
				<h:outputLabel for="turma" value="Id da Turma:" />
				<p:inputText id="turma" value="#{EdicaoMatriculaBean.idTurma}"
					required="true" label="Turma" />

				<h:outputLabel for="aluno" value="Id do Aluno:" />
				<p:inputText id="aluno" value="#{EdicaoMatriculaBean.idAluno}"
					required="true" label="requisito" />

				<h:outputLabel for="matricula" value="Data de Matrícula:" />
				<p:datePicker id="matricula"
					value="#{EdicaoMatriculaBean.dataMatricula}" required="true"
					label="Data de Matricula" />

				<f:facet name="footer">
					<p:commandButton id="submit" value="Confirmar"
						action="#{EdicaoMatriculaBean.confirmar}"
						oncomplete="PF('dialog-editar').hide();" render="@all"
						update="tabela-matriculas" />
				</f:facet>
			</h:panelGrid>
		</h:form>
	</p:dialog>
	
	<p:dialog header="Deletar Matrícula" widgetVar="dialog-excluir"
		modal="true">
		<h:form id="excluir-form">
			<h:panelGrid columns="1">
				<h:outputText value="Tem certeza que deseja excluir a matrícula do aluno #{ExclusaoMatriculaBean.nome}?" />
				<f:facet name="footer">
					<p:commandButton id="submit" value="Confirmar"
						action="#{ExclusaoMatriculaBean.confirmar}"
						oncomplete="PF('dialog-excluir').hide();" render="@all"
						update="tabela-matriculas" />
				</f:facet>
			</h:panelGrid>
		</h:form>
	</p:dialog>
	
</h:body>
</html>