<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</h:head>
<h:body>

	<div style="width: 100%; height: 2em; margin-bottom: 1%;">
		<p:linkButton href="alunos.xhtml" value="Alunos" />
		<p:linkButton href="cursos.xhtml" value="Cursos" />
		<p:linkButton href="instrutores.xhtml" value="Instrutores" />
		<p:linkButton href="matriculas.xhtml" value="Matriculas" />
		<p:linkButton href="turmas.xhtml" value="Turmas" />
	</div>
	
	<div
		style="display: flex; align-items: center; justify-content: center;">
		<h:panelGrid columns="1" cellpadding="5">
			<p:commandButton value="Cadastrar Turma" type="button"
				onclick="PF('dialog-cadastrar').show();" update="criar-form" />
		</h:panelGrid>
	</div>
	
	<div>
		<p:dataTable id="tabela-turmas" value="#{TurmaMB.turmas}" var="turma" paginator="true"
			rows="5">
			<p:column headerText="Código da Turma">
				<h:outputText value="#{turma.id}" />
			</p:column>
			<p:column headerText="Id do Instrutor">
				<h:outputText value="#{turma.idInstrutor}" />
			</p:column>
			<p:column headerText="Id do Curso">
				<h:outputText value="#{turma.idCurso}" />
			</p:column>
			<p:column headerText="Data de Início">
				<h:outputText value="#{turma.dataInicio}" />
			</p:column>
			<p:column headerText="Data Final">
				<h:outputText value="#{turma.dataFinal}" />
			</p:column>
			<p:column headerText="Carga Horária">
				<h:outputText value="#{turma.cargaHoraria}" />
			</p:column>
			<p:column headerText="Ações">
				<h:form>
					<h:panelGrid columns="1">
						<p:commandButton id="editar" value="Editar"
							action="#{EdicaoTurmaBean.carregarTurma(turma.id)}"
							update="editar-form" />
						<p:commandButton id="deletar" value="Excluir"
							action="#{ExclusaoTurmaBean.iniciarExclusao(turma.id, turma.idCurso)}"
							update="excluir-form" />
					</h:panelGrid>
				</h:form>
			</p:column>
		</p:dataTable>
	</div>
	
	<p:dialog header="Cadastrar Turma" widgetVar="dialog-cadastrar"
		modal="true">
		<h:form id="criar-form" >
			<h:panelGrid columns="1">
				<h:outputLabel for="instrutor" value="Id do Instrutor:" />
				<p:inputText id="instrutor" value="#{CadastroTurmaBean.idInstrutor}"
					required="true" label="Instrutor" />

				<h:outputLabel for="curso" value="Id do Curso:" />
				<p:inputText id="curso" value="#{CadastroTurmaBean.idCurso}"
					required="true" label="requisito" />

				<h:outputLabel for="inicio" value="Data de Início:" />
				<p:datePicker id="inicio"
					value="#{CadastroTurmaBean.dataInicio}" required="true"
					label="Data de Inicio" />
					
				<h:outputLabel for="final" value="Data Final:" />
				<p:datePicker id="final"
					value="#{CadastroTurmaBean.dataFinal}" required="true"
					label="Data Final" />
					
				<h:outputLabel for="carga-horaria" value="Carga Horária:" />
				<p:inputNumber id="carga-horaria"  value="#{CadastroTurmaBean.cargaHoraria}"
					required="true" label="carga horaria" />

				<f:facet name="footer">
					<p:commandButton id="submit" value="Cadastrar"
						action="#{CadastroTurmaBean.cadastrar}"
						oncomplete="PF('dialog-cadastrar').hide();" render="@all"
						update="tabela-turmas" />
				</f:facet>
			</h:panelGrid>
		</h:form>
	</p:dialog>
	
	<p:dialog header="Editar Turma" widgetVar="dialog-editar" modal="true">
		<h:form id="editar-form">
			<h:panelGrid columns="1">
				<h:outputLabel for="instrutor" value="Id do Instrutor:" />
				<p:inputText id="instrutor" value="#{EdicaoTurmaBean.idInstrutor}"
					required="true" label="Instrutor" />

				<h:outputLabel for="curso" value="Id do Curso:" />
				<p:inputText id="curso" value="#{EdicaoTurmaBean.idCurso}"
					required="true" label="requisito" />

				<h:outputLabel for="inicio" value="Data de Início:" />
				<p:datePicker id="inicio"
					value="#{EdicaoTurmaBean.dataInicio}" required="true"
					label="Data de Inicio" />
					
				<h:outputLabel for="final" value="Data Final:" />
				<p:datePicker id="final"
					value="#{EdicaoTurmaBean.dataFinal}" required="true"
					label="Data Final" />
					
				<h:outputLabel for="carga-horaria" value="Carga Horária:" />
				<p:inputNumber id="carga-horaria"  value="#{EdicaoTurmaBean.cargaHoraria}"
					required="true" label="carga horaria" />

				<f:facet name="footer">
					<p:commandButton id="submit" value="Confirmar"
						action="#{EdicaoTurmaBean.confirmar}"
						oncomplete="PF('dialog-editar').hide();" render="@all"
						update="tabela-turmas" />
				</f:facet>
			</h:panelGrid>
		</h:form>
	</p:dialog>
	
	<p:dialog header="Deletar Turma" widgetVar="dialog-excluir"
		modal="true">
		<h:form id="excluir-form">
			<h:panelGrid columns="1">
				<h:outputText value="Tem certeza que deseja excluir a turma do curso #{ExclusaoTurmaBean.nome}?" />
				<f:facet name="footer">
					<p:commandButton id="submit" value="Confirmar"
						action="#{ExclusaoTurmaBean.confirmar}"
						oncomplete="PF('dialog-excluir').hide();" render="@all"
						update="tabela-turmas" />
				</f:facet>
			</h:panelGrid>
		</h:form>
	</p:dialog>
	
</h:body>
</html>